* {
  font-size: 1 vh;
}

.card {
 height: 100%;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: white;
  
}
h4{
  font-size: medium;
  font-weight: bolder;
}

em{
  font-size: small;
}

.cardGame{
  background-color: gray;
}

.cardDate {
  background-color: darkgray;
}
