

.ext-box{
  display: table-cell;
  vertical-align: middle;
}

.card {
  font-size: medium;
  justify-content: center;
  height: 95%;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;

}

@media only screen and (min-width: 500px) {
h4{
  font-size: large;
  font-weight:bold;
}

h3 {
  font-size: large;
  font-weight: bold;
}}


.cardGame{
  background-color: gray;
}

.cardDate {
  background-color: darkgray;
}


p{
  font-size: small;
  line-height: 0px;
}

 @media only screen and ((max-width: 500px) or (max-height: 500px)) {
  .cardText{
    font-size:x-small;
  }
 }
